<div class="container mt-5">
  <ng-container *ngIf="itemDetail">
    <p (click)="goBack()" class=" d-flex justify-content-end" style="cursor: pointer;"> <i
        class="material-icons">arrow_back_ios</i>
      Indietro</p>
    <div class="d-flex flex-wrap  justify-content-between ">
      <div class="col-8 detail_info d-flex flex-column justify-content-between">
        <div class="title mb-4">
          <div class="d-flex">
            <img class="border-20 me-4" *ngIf="!productID" width="100"
              src="https://img.freepik.com/premium-vector/cake-bakery-logo-design-inspiration-vector-template-bakery-logo_279597-646.jpg"
              alt="">

            <div class="">
              <h1> {{itemDetail.title || itemDetail.name}}</h1>
              <p class=" mb-0">{{itemDetail.category | titlecase}}</p>
              <div class="d-flex">
                <b class="mb-0 me-1">Owner: </b>
                <ng-container *ngIf="itemDetail.employees; else employee">
                  <ul *ngIf="itemDetail.employees && itemDetail.employees.length > 0">
                    <li *ngFor="let employee of itemDetail.employees; let last = last">{{ employee |
                      titlecase}}
                    </li>
                  </ul>
                </ng-container>
                <ng-template #employee>
                  <p>{{itemDetail.employee | titlecase}}</p>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!productID">
          <h5>Gallery</h5>
          <img class="w-50 border-20 img-fluid gallery"
            src="https://citynews-veneziatoday.stgy.ovh/~media/horizontal-mid/48727478573673/pasticceria-angelica-mestre.jpg"
            alt="Pictures pasticceria">
        </div>

        <p class="mt-5">
          {{itemDetail.description}}
        </p>
      </div>
      <div class="col-3 text-center detail_img" *ngIf="productID; else charts">
        <img class="img-fluid border-10 img"
          src="https://burst.shopifycdn.com/photos/ice-cream-milkshake-treats.jpg?width=1000&format=pjpg&exif=0&iptc=0"
          alt="">
        <p class="text-start"><span><b>Costo unità: {{itemDetail.price | currency: 'EUR': 'symbol'}}</b></span></p>
      </div>
      <ng-template #charts>
        <div class="col-4 mb-5">
          <h3>Categorie</h3>
          <app-charts [storeCharts]="storeCharts"></app-charts>
        </div>
      </ng-template>
    </div>
    <ng-container *ngIf="detailType === 'store'">
      <app-list [listType]="listType" [itemList]="itemList" (event)="eventHandler($event)"></app-list>
    </ng-container>

    <ng-container *ngIf="detailType === 'product'">
      <div class="mt-5">
        <h3>Recensioni degli utenti</h3>
        <p *ngIf="itemDetail.reviews.length == 0">Nessuna recensione per questo articolo.</p>
        <div class="col-12">
          <ng-container *ngFor="let review of itemDetail.reviews">
            <div class="d-flex justify-content-between review-card" *ngIf="review.length > 0">
              <p class="mb-0">{{review}}</p>
              <i class="material-icons">star_rate</i>
            </div>
          </ng-container>

        </div>
      </div>
    </ng-container>
  </ng-container>
</div>