<div class="container mt-5">
  <ng-container *ngIf="itemDetail">
    <p (click)="goBack()" class=" d-flex justify-content-end" style="cursor: pointer;"> <i
        class="material-icons">arrow_back_ios</i>
      Indietro</p>
    <div class="d-flex flex-wrap  justify-content-between ">
      <div class="col-8 detail_info">
        <h1> {{itemDetail.title || itemDetail.name}}</h1>
        <p class="mb-0">{{itemDetail.category | titlecase}}</p>
        <div class="d-flex">
          <b class="mb-0 me-1">Owner: </b>
          <ng-container *ngIf="itemDetail.employees; else employee">
            <ul *ngIf="itemDetail.employees && itemDetail.employees.length > 0">
              <li *ngFor="let employee of itemDetail.employees; let last = last">{{ employee |
                titlecase}}
              </li>
            </ul>
          </ng-container>
          <ng-template #employee>
            <p>{{itemDetail.employee | titlecase}}</p>

          </ng-template>
        </div>
        <p class="mt-5">
          {{itemDetail.description}}
        </p>
      </div>
      <div class="col-3 text-center detail_img" *ngIf="productID; else charts">
        <img class="img-fluid border-10 img"
          src="https://burst.shopifycdn.com/photos/ice-cream-milkshake-treats.jpg?width=1000&format=pjpg&exif=0&iptc=0"
          alt="">
        <p class="text-start"><span><b>Costo unità: {{itemDetail.price | currency: 'EUR': 'symbol'}}</b></span></p>
      </div>
      <ng-template #charts>
        <div class="col-4 mb-5">
          <h3>Charts</h3>
          <app-charts [storeCharts]="storeCharts"></app-charts>
        </div>
      </ng-template>
    </div>
    <ng-container *ngIf="detailType === 'store'">
      <app-list [listType]="listType" [itemList]="itemList" (event)="eventHandler($event)"></app-list>
    </ng-container>

    <ng-container *ngIf="detailType === 'product'">
      <div class="mt-5">
        <h3>Recensioni degli utenti</h3>
        <div class="col-12">
          <div *ngFor="let review of itemDetail.reviews" class="d-flex justify-content-between review-card">
            <p class="mb-0">{{review}}</p>
            <i class="material-icons">star_rate</i>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>