<div
  class="container container_custom welcome_container_height align-items-center d-flex justify-content-between flex-wrap">
  <div class=" custom_width_40 ">
    <h2 class="mt-5">Accedi alla dashboard </h2>
    <small>Powered by Euris</small>
  </div>
  <div class="welcomecard custom_width_40 custom_height_30 rounded  welcome_store_card position-relative border-20">
    <div class="p-5">
      <h1>Stores</h1>
      <small>Visualizza tutti gli store disponibili per la tua utenza</small>
    </div>
    <button class="btn welcome_btn_card position-absolute bottom-0 w-100" [routerLink]="'/dashboard/store'">Visita i
      tuoi
      stores
    </button>
  </div>
</div>